name: Environment example
on:
  push: 
      branches: 
          - main
  workflow_dispatch:
  # schedule:
  #   - cron:  '30 5,17 * * *'

jobs:
  Job-1:
    runs-on: ubuntu-20.04
    steps:
      - name: Check out repo's default branch
        uses: actions/checkout@v4
        # with:
        #    ref: dev

      # - name: Install AWS CLI
      #   run: |
      #     sudo apt-get update
      #     sudo apt-get install -y awscli
      #     aws configure set aws_access_key_id ${{ secrets.AWS_ACCESS_KEY_ID }}
      #     aws configure set aws_secret_access_key ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      #     aws configure set region ${{ secrets.AWS_DEFAULT_REGION }}
      #     aws configure list
      
      # - name: Configure AWS credentials
      #   uses: aws-actions/configure-aws-credentials@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Docker build
        run: docker build -t mynginximage .

      
            
